# Node dependencies
node_modules/

# Builds & Next.js cache
.next/
out/
dist/

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log
*.log.*

# Environment secrets
.env
.env.local
.env.development
.env.test
.env.production

# Supabase (CLI cache, studio state)
.supabase/
*.supabase/

# IDEs and Editor Configs
.vscode/
.idea/
*.swp
*.sublime-project
*.sublime-workspace

# System files
**/.DS_Store
Thumbs.db

# Personal configs
*.mentalrc.json
*.mentalconfig.json

# Git artifacts
*.orig
*.rej
*.merge
*.tsbuildinfo
